.characters {
  display: grid;
  grid-template-columns: repeat(15, var(--key-width));
  grid-template-rows: repeat(5, var(--key-height));
}

.row {
  display: flex;
  grid-column: 1 / 16;
}

.row--a {
  grid-row-start: 1;
}

.row--b {
  grid-row-start: 2;
}

.row--c {
  grid-row-start: 3;
}

.row--d {
  grid-row-start: 4;
}

.row--e {
  grid-row-start: 5;
}

.spacebar {
  width: calc(var(--key-width) * 7);
}
